<%- model_class = Service -%>
<div class="panel panel-grey margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-globe"></i> Servicios</h3>
        
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                  <tr>
        <th><%= model_class.human_attribute_name('#') %></th>
        <th><%= model_class.human_attribute_name(:Titulo) %></th>
        <th><%= model_class.human_attribute_name(:Comentario) %></th>
        <th><%= model_class.human_attribute_name(:Acciones) %></th>
    </tr>
            </thead>
            <tbody>
          
               <% @services.each do |service| %>
    <tr>
        <td><%=  service.id %></td>
        <td><%= service.title %></td>
        <td><%= service.content %></td>
        
        <td>
       
         
 
        </td>
    </tr>

    <% end %>

            </tbody>
            
        </table>
    </div>
</div>
