<%= form_for @mailing, url: "/mailings/create", remote: true do |f| %>
<div class="modal-body" >
    
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :Nombre %>:
    <%= f.text_field :name, placeholder: 'Escribe tu nombre' %><br/>
    <%= f.label :Correo %>:
    <%= f.text_field :email, placeholder: 'Escribe tu Email' %><br/>
    <%= f.label :Mensaje %>:
    <%= f.text_area :message, placeholder: 'Escribe un mensaje'%><br/>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <%= f.button "Enviar",class: 'btn btn-primary' %>
</div>
<% end %>