<!-- Service Blocks -->
<div class="container content">
<div class="headline"><h2>Que Hacemos</h2></div>
    <div class="row margin-bottom-30">
        <% @services.all.each_with_index do |service, index| %>
               
                <% service.slides.each do |slide| %>
              <a class="thumbnail fancybox-button zoomer no-color nounderline" 
            data-rel="fancybox-button_<%= index %>"  
             title = "<h3><%= slide.title%></h3> <%= slide.text%>"   href="<%= slide.image %>">
        <% end %>
                 
        <div class="col-sm-4 ">
            <div class="service">
            <span class="overlay-zoom"> 
     
                <i class="fa <%= "#{service.icon}"%> service-icon"></i>
                
                <div class="desc" >
                    <h3><%= service.title %></h3>
                    <p> <%= service.content.html_safe%></p>
                </div>
                <span class="zoom-icon"></span>   
            </span> 
            </div>

        </div>
         
        </a>
       
        <% end %>
        
    </div>
</div>
<!-- End Service Blokcs -->

<script type="text/javascript">
     jQuery(document).ready(function() {
         App.init();
         App.initFancybox();
     });
 </script>

 