<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <% @homes.each do |r| %>
        <div class="da-slide">
            
            <div class="col-md-4 col-md-offset-1">
                <h2> <i> <%= r.slider_title_one %></i></h2>
            </div>
            <div>
                <p><i class="col-md-4"><%= r.slider_text_one.to_s.html_safe %></i></p>
            </div>
            
            <div class="da-img"><img class="img-responsive" src="<%= photo(1)%>"  alt=""></div>
        </div>
        
        <div class="da-slide">
            <div class="col-md-4 col-md-offset-1">
                <h2><i><%= r.slider_title_two   %></i> </h2>
            </div>
            <div>
                <p><i class="col-md-4"><%= r.slider_text_two.to_s.html_safe %></i> </p>
            </div>
            
            <div class="da-img"><img class="img-responsive" src="<%= photo(2) %>" alt=""></div>
            
        </div>
        <div class="da-slide">
            <div class="col-md-4 col-md-offset-1">
                <h2><i><%= r.slider_title_three   %></i> </h2>
            </div>
            <div>
                <p><i class="col-md-4"><%= r.slider_text_three.to_s.html_safe %></i> </p>
            </div>
            <div class="da-img"><img src=" <%= photo(3) %> " alt="image01" /></div>
        </div>
        <% end %>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
    </div><!--/slider-->
    
    <!--=== End Slider ===-->
    <!--=== partial ===-->
    <%= render partial: "static_pages/promocional_home" %>
    <%= render partial: "static_pages/notice_home" %>
    <%= render partial: "static_pages/historia_home" %>
    <%= render partial: "static_pages/service_home" %>
    <!--=== End Partia ===-->
    
    
    
    
    <!-- End Portfolio Sorting Blocks -->