<%- model_class = Notice -%>
<div class="container content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 reg-page">
			<dl class="dl-horizontal">
				
				<dt><strong><%= model_class.human_attribute_name(:Imagen) %>:</strong></dt>
				<dd><%= image_tag @notice.image_url(:thumb).to_s %></dd></br>
				
				<!-- Button trigger modal -->
				<dd><input class="btn-u btn-u-light-green btn-md col-md-3 " data-toggle="modal" data-target="#myModal" value="Agregar imagen" type="button">
				</dd></br></br>
				<!-- end Button trigger modal -->
				<!-- Modal logo -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
								<h4 class="modal-title" id="myModalLabel">Cambiar imagen</h4>
							</div>
							<%= form_for @notice, :html => {:multipart => true, id:"logo_df"}, remote: true, authenticity_token: true do |f| %>
							<div class="modal-body">
								
								
								<%= image_tag @notice.image_url(:thumb).to_s, id: "image_url" %></br></br>
								<div class="button">
									<div class="text">
										Selecciona un archivo
									</div>
									<%= f.file_field :image, data: {image: "image_url"}, class: "input_pluguin"  %>
									
								</div>
								
							</div>
							<div class="modal-footer">
								<button type="button" class="btn-u btn-u-red" data-dismiss="modal">Cerrar</button>
								<%= f.button "Cargar", class: 'btn-u btn-brd btn-brd-hover btn-u-blue' %>
								
							</div>
							
						</div>
						<% end %>
					</div>
				</div>
				<!-- end Modal -->
				
			</dl>
			<div class="reg-header">
			</div>
			
			<%= form_for @notice, :html => {:multipart => true, :class => 'form-horizontal'} do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			
			<div class="control-group">
				<%= f.label :Titlulo, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title, :class => 'text_field' %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :Descripcion, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_area :text, :class => 'wysihtml5' %>
				</div>
			</div>
			</br></br>
			
			<% if params[:action] == "new" %>
			<div class="col-lg-3 text-right">
				<%= f.submit "Crear", class: "btn-u btn-brd btn-brd-hover btn-u-blue" %>
			</div>
			<% else %>
			<div class="col-lg-3 text-right">
				<%= f.submit "Guardar", class: "btn-u btn-brd btn-brd-hover btn-u-blue" %>
			</div>
			<% end %>
			<%= link_to "Cancelar", dashboard_path, class: 'btn-u btn-u-red'%>
			
			<% end %>
		</div>
	</div>
</div>