#encoding: utf-8
<%- model_class = Home -%>
<div class="container content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 reg-page"
			>
			<dl class="dl-horizontal">
				<div class="panel panel-sea margin-bottom-40">
					<div class="panel-heading">
						<h3 class="panel-title"> Logo</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									
									<th>Imagen</th>
									
									
									<th>Boton</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									
									<td><%= image_tag @home.logo_url(:thumb).to_s %></td>
									
									<td class="col-md-3"><input class="btn btn-success btn-xs  btn-md col-md-9 " data-toggle="modal" data-target="#myModal" value="Cambiar logo" type="button"></td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				
				
				
				<!-- Modal logo -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
								<h4 class="modal-title" id="myModalLabel">Cambiar </h4>
							</div>
							<%= form_for @home, :html => {:multipart => true, id:"logo_df"}, authenticity_token: true do |f| %>
							<div class="modal-body">
								
								
								<%= image_tag @home.logo_url(:thumb).to_s, id: "image_url" %></br></br>
								<div class="button">
									<div class="text">
										Selecciona una imagen
									</div>
									<%= f.file_field :logo, data: {image: "image_url"}, class: "input_pluguin"  %>
									
								</div>
								
								
								
								
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
								<%= f.button "Cargar",class: 'btn btn-primary' %>
								
							</div>
							
						</div>
						<% end %>
					</div>
				</div>
			</dl>
			<!-- end Modal -->
			<dl class="dl-horizontal">
				<div class="reg-header">
				</div>
				<div class="panel panel-sea margin-bottom-40">
					<div class="panel-heading">
						<h3 class="panel-title"> Imagen uno</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									
									<th>Imagen uno</th>
									
									
									<th>Boton</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									
									<td><%= image_tag @home.slider_image_one_url(:thumb).to_s, id: "slider_image_one_url" %></td>
									
									<td class="col-md-3"><input class="btn btn-success btn-xs  btn-md col-md-9 "  data-toggle="modal" data-target="#slider_image_one" value="Cambiar imagen 1" type="button"></td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				
				<!-- Button trigger modal  slider one -->
				
				<!-- end Button trigger modal  slider one -->
				<!-- Modal slider one -->
				<div class="modal fade" id="slider_image_one" tabindex="slider_image_one" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
								<h4 class="modal-title" id="myModalLabel">Editar imagen uno </h4>
							</div>
							<div class="modal-body">
								<%= form_for @home, :html => {:multipart => true},  authenticity_token: true do |f| %>
								<%= image_tag @home.slider_image_one_url(:thumb).to_s, id: "image_one_slider" %></br></br>
								<div class="button">
									<div class="text">
										Selecciona una imagen
									</div>
									<%= f.file_field :slider_image_one, data: {image: "image_one_slider"}, class: "input_pluguin"  %>
								</div></br></br>
								
								<div class="control-group">
									<%= f.label :Título_de_imagen_uno, :class => 'control-label' %>
									<div class="controls">
										<%= f.text_field :slider_title_one, :class => 'text_field' %>
									</div>
								</div>
								<div class="control-group">
									<%= f.label :Descripción, :class => 'control-label' %>
									
									<div class="controls">
										
										<%= f.text_area :slider_text_one, :class => 'wysihtml5' %>
										
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
								<%= f.button "Cargar",class: 'btn btn-primary' %>
							</div>
							<% end %>
						</div>
					</div>
				</div>
				<!-- end Modal slider one -->
				<!--  <dt><strong><%= model_class.human_attribute_name(:Slider_title_one) %>:</strong></dt>
				<dd><%= @home.slider_title_one%></dd></br>
				<dt><strong><%= model_class.human_attribute_name(:Slider_text_one) %>:</strong></dt>
				<dd><%= @home.slider_text_one%></dd> -->
				
			</dl>
			<div class="reg-header">
			</div>
			<dl class="dl-horizontal">
				<div class="panel panel-sea margin-bottom-40">
					<div class="panel-heading">
						<h3 class="panel-title"> Imagen dos</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									
									<th>Imagen dos</th>
									
									
									<th>Boton</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									
									<td><%= image_tag @home.slider_image_two_url(:thumb).to_s, id: "slider_image_one_url" %></td>
									
									<td class="col-md-3"><input class="btn btn-success btn-xs  btn-md col-md-9 "  data-toggle="modal" data-target="#slider_image_two" value="Cambiar imagen 2" type="button"></td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				
				
				<!-- end Button trigger modal  slider two-->
				<!-- Modal slider two -->
				<div class="modal fade" id="slider_image_two" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
								<h4 class="modal-title" id="myModalLabel">Editar imagen dos</h4>
							</div>
							<div class="modal-body">
								<%= form_for @home, :html => {:multipart => true},  authenticity_token: true do |f| %>
								<%= image_tag @home.slider_image_two_url(:thumb).to_s, id: "image_two_slider" %></br></br>
								<div class="button">
									<div class="text">
										Selecciona una imagen
									</div>
									<%= f.file_field :slider_image_two, data: {image: "image_two_slider"}, class: "input_pluguin" %>
								</div></br></br>
								
								<div class="control-group">
									<%= f.label :Título_de_imagen_dos, :class => 'control-label' %>
									<div class="controls">
										<%= f.text_field :slider_title_two, :class => 'text_field' %>
									</div>
								</div>
								<div class="control-group">
									<%= f.label :Descripción, :class => 'control-label' %>
									
									<div class="controls">
										
										<%= f.text_area :slider_text_two, :class => 'wysihtml5' %>
										
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
								<%= f.button "Cargar",class: 'btn btn-primary' %>
							</div>
							<% end %>
						</div>
					</div>
				</div>
				<!-- end Modal slider two -->
				<!--
				<dt><strong><%= model_class.human_attribute_name(:Slider_title_two) %>:</strong></dt>
				<dd><%= @home.slider_title_one%></dd></dd></br>
				<dt><strong><%= model_class.human_attribute_name(:Slider_text_two) %>:</strong></dt>
				<dd><%= @home.slider_text_two%></dd> -->
				
			</dl>
			<div class="reg-header">
			</div>
			<dl class="dl-horizontal">
				<div class="panel panel-sea margin-bottom-40">
					<div class="panel-heading">
						<h3 class="panel-title"> Imagen tres</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									
									<th>Imagen tres</th>
									
									
									<th>Boton</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									
									<td><%= image_tag @home.slider_image_three_url(:thumb).to_s, id: "slider_image_one_url" %></td>
									
									<td class="col-md-3"><input class="btn btn-success btn-xs  btn-md col-md-9 "  data-toggle="modal" data-target="#slider_image_three" value="Cambiar imagen 3" type="button"></td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				
				
				<!-- end Button trigger modal  slider three-->
				<!-- Modal slider three -->
				<div class="modal fade" id="slider_image_three" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
								<h4 class="modal-title" id="myModalLabel">Editar imagen tres </h4>
							</div>
							<div class="modal-body">
								<%= form_for @home, :html => {:multipart => true},  authenticity_token: true do |f| %>
								<%= image_tag @home.slider_image_three_url(:thumb).to_s, id: "image_three_slider" %></br></br>
								<div class="button">
									<div class="text">
										Selecciona una imagen
									</div>
									<%= f.file_field :slider_image_three, data: {image: "image_three_slider"}, class: "input_pluguin" %>
								</div>
								
								</br></br>
								
								<div class="control-group">
									<%= f.label :Título_de_imagen_tres, :class => 'control-label' %>
									<div class="controls">
										<%= f.text_field :slider_title_three, :class => 'text_field' %>
									</div>
								</div>
								<div class="control-group">
									<%= f.label :Descripción, :class => 'control-label' %>
									
									<div class="controls">
										
										<%= f.text_area :slider_text_three, :class => 'wysihtml5' %>
										
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
								<%= f.button "Cargar",class: 'btn btn-primary' %>
							</div>
							<% end %>
						</div>
					</div>
				</div>
				<!-- end Modal slider three -->
				<!--  <dt><strong><%= model_class.human_attribute_name(:Slider_title_three) %>:</strong></dt>
				<dd><%= @home.slider_title_one%></dd></dd></br>
				<dt><strong><%= model_class.human_attribute_name(:Slider_text_three) %>:</strong></dt>
				<dd><%= @home.slider_text_three%></dd>-->
				
			</dl> 
			<div class="reg-header">
			</div>
			<%= form_for @home,   :html => {:multipart => true}, data: true, authenticity_token: true do |f| %>
			<%= f.text_field :show, value: true, type: "hidden", class: "disabled" %>
			<h2> Promocional</h2>
			<div class="control-group">
				<%= f.label :Titulo_promocional, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_promocional, :class => 'text_field' %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :Descripción, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_area :text_promocional, :class => 'wysihtml5' %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :Titulo_del_boton_promocional, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_button_promocional, :class => 'text_field' %>
				</div>
			</div> </br></br>
			<div class="reg-header">
			</div>
			<h2>Historia</h2>
			<div class="control-group">
				<%= f.label :Titulo_historia, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_history, :class => 'text_field' %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :Descripción_historia, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_area :text_history, :class => 'wysihtml5' %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :Titulo_boton_historia, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_button_history, :class => 'text_field' %>
				</div>
			</div>
			</br></br>
			<div class="reg-header">
			</div>
			<h1> Contacto </h1>
			<div class="control-group">
				<%= f.label :Titulo_contacto, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_contact, :class => 'text_field' %>
				</div>
			</div>
			
			<div class="control-group">
				<%= f.label :Dirección_contacto, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :address, :class => 'text_field' %>
				</div>
			</div>
			
			<div class="control-group">
				<%= f.label :Teléfono_uno, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :telephone_one, :class => 'text_field' %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :Teléfono_dos, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :telephone_two, :class => 'text_field' %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :fax, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :fax, :class => 'text_field' %>
				</div>
			</div></br>
			<div class="control-group">
				<%= f.label :Email, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :email, :class => 'text_field' %>
				</div>
			</div>
			</br></br>
			<div class="reg-header">
			</div>
			<h2>Reconocimiento</h2>
			<div class="control-group">
				<%= f.label :Titulo_reconocimiento, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_recognition, :class => 'text_field' %>
				</div>
			</div></br>
			<div class="reg-header">
			</div>
			<!-- <div class="control-group">
					<%= f.label :Descripción, :class => 'control-label' %>
					<div class="controls">
							<%= f.text_area :text_recognition, :class => 'wysihtml5' %>
					</div>
			</div> -->
			<div class="control-group">
				<h2>Bolsa de trabajo</h2>
				<%= f.label :Titulo_bolsa_de_trabajo, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_job, :class => 'text_field' %>
				</div>
			</div></br>
			<div class="control-group">
				<%= f.label :Descripción_bolsa_de_trabajo, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_area :text_job, :class => 'wysihtml5' %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :Titulo_del_boton_bolsa_de_trabajo, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_button_job, :class => 'text_field' %>
				</div>
			</div></br>
			<div class="reg-header">
			</div>
			<div class="control-group">
				<h2>Ubicación de oficnas</h2>
				<%= f.label :Titulo_ubucación_de_oficina, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_office, :class => 'text_field' %>
				</div>
			</div></br>
			<!-- <div class="control-group">
				<h2></h2><%= f.label :Descripción_de_ubucación_de_oficina, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_area :text_office, :class => 'wysihtml5' %>
				</div>
			</div>
			<div class="control-group">
				<h2></h2><%= f.label :Titulo_del_boton, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_button_office, :class => 'text_field' %>
				</div>
			</div></br> -->
			<div class="reg-header">
			</div>
			<div class="col-lg-3 text-right">
				<%= f.submit "Guardar",class: 'btn btn-primary'%>
			</div>
			<%= link_to "Cancelar", dashboard_path, class: 'btn btn-danger' %>
			<% end %></br></br>
			
			
		</div>
	</div>
</div>