<!-- Service Blcoks -->
<div class="wrapper">
    <div class="container content">
        <div class="row margin-bottom-10">
            
            <div class="col-md-3 col-sm-6">
                <%= link_to edit_home_path(Home.first), class: 'nounderline' do %>
                <div class="servive-block servive-block-u" >
                    <h2 class="heading-md"> Inicio</h2>
                    
                    <p>Podras hacer cambios al modulo de inicio</p>
                </div>
                <% end %>
            </div>
            <div class="col-md-3 col-sm-6">
                <%= link_to  notices_path(@notice), class: 'nounderline' do %>
                <div class="servive-block servive-block-green">
                    
                    <h2 class="heading-md">Informativos</h2>
                    
                    <p>Podras hacer cambios al modulo  Informstivo</p>
                </div>
                <% end %>
            </div>
            <div class="col-md-3 col-sm-6">
                <%= link_to  years_path(@year), class: 'nounderline'  do %>
                <div class="servive-block servive-block-dark">
                    
                    <h2 class="heading-md">Historia</h2>
                    
                    <p>Podras hacer cambios al modulo de year</p>
                </div>
                <% end %>
            </div>
            <div class="col-md-3 col-sm-6">
                <%= link_to  services_path(@service), class: 'nounderline'  do %>
                <div class="servive-block servive-block-red">
                    
                    <h2 class="heading-md"> Servicios</h2>
                    <p> Podras hacer cambios al modulo de Servicio</p>
                </div>
                <% end %>
            </div>
        </div>
        
        <div class="row margin-bottom-10">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block servive-block-purple">
                    
                    <h2 class="heading-md">Proyectos</h2>
                    <p>Podras hacer cambios al modulo de Proyecto</p>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <%= link_to  years_path(tipo: "Reconocimiento"), class: 'nounderline'    do %>
                <div class="servive-block servive-block-grey">
                    
                    <h2 class="heading-md">Reconocimiento </h2>
                    
                    <p>Podras hacer cambios al modulo de Reconocimiento</p>
                </div>
                <% end %>
            </div>
            
            
            <div  id="myDiv" class="col-md-3 col-sm-6">
                <div   class="servive-block servive-block-yellow">
                    
                    <h2 class="heading-md">Oficinas y Matto</h2>
                    <p>Podras hacer cambios al modulo de Oficina y Matto</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <%= link_to  users_path(@user), class: 'nounderline'  do%>
                <div class="servive-block servive-block-dark-blue">
                    <h2 class="heading-md">Agregar usiario</h2>
                    <p>Podras agregar usuarios solo siendo administrador</p>
                </div>
                <% end %>
            </div>
            
        </div>
    </div>
</div>
<!-- End Service Blcoks -->