<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 reg-page">
    
      <%= form_for @home, :html => {:multipart => true, :class => 'form-horizontal'} do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      
      

			
			<div class="control-group">
				<%= f.label :title_promocional, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_promocional, :class => 'text_field' %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :text_promocional, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_area :text_promocional, :class => 'wysihtml5' %>
				</div>
			</div>

				<div class="control-group">
				<%= f.label :title_button_promocional, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_button_promocional, :class => 'text_field' %>
				</div>
			</div>



			<div class="control-group">
				<%= f.label :title_history, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_history, :class => 'text_field' %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :text_history, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_area :text_history, :class => 'wysihtml5' %>
				</div>
			</div>

				<div class="control-group">
				<%= f.label :title_button_history, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_button_history, :class => 'text_field' %>
				</div>
			</div>



			<div class="control-group">
				<%= f.label :title_contact, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_contact, :class => 'text_field' %>
				</div>
			</div>



			<div class="control-group">
				<%= f.label :address, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :address, :class => 'text_field' %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :telephone_one, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :telephone_one, :class => 'text_field' %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :telephone_two, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :telephone_two, :class => 'text_field' %>
				</div>
			</div>


			<div class="control-group">
				<%= f.label :fax, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :fax, :class => 'text_field' %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :email, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :email, :class => 'text_field' %>
				</div>
			</div>
			</br>


			<div class="control-group">
				<%= f.label :title_recognition, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_recognition, :class => 'text_field' %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :text_recognition, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_area :text_recognition, :class => 'wysihtml5' %>
				</div>
			</div>



			<div class="control-group">
				<%= f.label :title_office, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_office, :class => 'text_field' %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :text_office, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_area :text_office, :class => 'wysihtml5' %>
				</div>
			</div>

				<div class="control-group">
				<%= f.label :title_button_office, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_button_office, :class => 'text_field' %>
				</div>
			</div>


			<div class="control-group">
				<%= f.label :title_office, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_office, :class => 'text_field' %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :text_office, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_area :text_office, :class => 'wysihtml5' %>
				</div>
			</div>

				<div class="control-group">
				<%= f.label :title_button_office, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title_button_office, :class => 'text_field' %>
				</div>
			</div>
			 
				<%= f.button :submit, class: "btn-u btn-u-blue" %>  
    <%= link_to t('.cancel', default: t("helpers.links.cancel")), homes_path, class: 'btn-u btn-u-red'  %>
    
      <% end %>

    </div>
  </div>
</div>