<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                        
                        <img id="logo-header" src="<%= logo%>" alt="Logo">
                    </a>
            <ul class="pull-right breadcrumb">
               
              </li>
                    
                    
                    <% if signed_in? %>
                    
                    <li>Hola: <%= current_user.name%></li>

                    <% if current_user %>
                            <% if current_user.admin %>
                            <li><%= link_to "Editar cuenta", edit_user_path(current_user) %></li>
                            <% end %>
                        <% else %>

                    <% end %>




                    <li>
                        <%= link_to "Salir del administrador", signout_path, method: "delete" %>
                    </li>
                    
                    
                    
                     <li><%= link_to "Inicio", root_path %></li>
                     <li><%= link_to "Dashboard", dashboard_path %></li>
                     <li><%= link_to "Informativos", new_home_path %></li>
                     <li><%= link_to "Historia", years_path(@year) %></li>
                     <li><%= link_to "servicios", service_path(@service) %></li>
                     <li><%= link_to "Proyectos"  %></li>
                     <li><%= link_to "Reconocimientos y Matto" %></li>
                    <% else %>
                    <li><%= link_to "Sign in", admin_path %></li>

                    
                    <% end %> 
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

      
  

