 <!--=== Footer ===-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 md-margin-bottom-40">
                    <!-- About -->
                    <div class="headline"><h2>Redes sociales</h2></div>  
                     <ul class="social-icons">
                        <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                        <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                        <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                    </ul>
                    <!-- End Social Links -->   
                    <!-- End About -->

                    <!-- Monthly Newsletter -->
                    <div class="headline"><h2><%= job("Ponga su título aquí.","titulo") %> </h2></div> 
                    <p><%= job("Ponga la información acerca de la bolsa de trabajo","descripcion") %></p>
                    <button class="btn-u btn-u-blue" type="button"> <%= job("Título de boton","boton") %></button> 
                    </br></br>
                   
                    <form class="footer-subsribe">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email Address">                            
                            <span class="input-group-btn">
                                <button class="btn-u" type="button">Subscribete</button>
                            </span>
                        </div>                  
                    </form>                         
                    <!-- End Monthly Newsletter -->
                </div><!--/col-md-4-->  
                
                <div class="col-md-4 md-margin-bottom-40">
                    <!-- Recent Blogs -->
                    <div class="posts">
                    <% Home.all.each do |f| %>
                        <div class="headline"><h2><%= f.title_recognition %></h2></div>
                        <% end %>
                       
                        <%  Year.order('random()').limit(3).where(:tipo => 'Reconocimiento').each do |t| %>
                        <dl class="dl-horizontal">
                            <dt><a href="/static_pages/recognition"><img src="<%= imagen %>" alt="" /></a></dt>
                            <dd>
                                <p><a href="#"><%= t.date %> - <%= t.title %> </a></p> 
                            </dd>
                        </dl>
                            </br>

                            <% end %>
                        </dl>
                       
                    </div>
                    <!-- End Recent Blogs -->                    
                </div><!--/col-md-4-->

                <div class="col-md-4">
                    <!-- Contact Us -->
                    <div class="headline"><h2><%= about_us("Ponga su título aquí.","about")  %></h2></div> 
                    <address class="md-margin-bottom-40">
                    <p> Corporativo: CYVSA</p>
                         <p>Dirección: <%= about_us("Escribe la direccion de la empresa","address")%><br /></p>
                            
                            <p>Teléfono 1: <%= about_us("Escribe el telefono de la empresa","phone_one")%><br /></p>
                            <p>Teléfono 2: <%= about_us("Escribe el telefono de la empresa","phone_two")%><br /></p>
                            <p>Fax: <%= about_us("Escribe el fax de la empresa","fax")%><br /></p>
                            <p>Email: <%= about_us("Escribe el Eamil de la empresa","email") %></p>
                    </address>
                    <!-- End Contact Us -->

                    <!-- Social Links -->
                    <div class="headline"><h2><%= office("Ponga su título aquí","titulo")  %></h2></div>
                   <!--  <p> <%= office("Ponga su descripción aquí","descripcion") %></p>  -->
                    
                     <button class="btn btn-block btn-googleplus rounded">
                      <i class="fa fa-map-marker"></i> Google Maps
                    </button>
                   
                </div><!--/col-md-4-->
            </div>
        </div> 
    </div><!--/footer-->
    <!--=== End Footer ===-->

    
    <!--=== End Copyright ===-->