
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  

<html>
<head>
  <title>CYVSA</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= params %>  <!--checo en que accion estoy-->
<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                        
                        <img id="logo-header" src="<%= logo%>" alt="Logo">
                    </a>
            <ul class="pull-right breadcrumb">
               
              </li>
                    
                    
                    <% if signed_in? %>
                    
                    <li>Hola: <%= current_user.name%></li>
                    
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <li>
                        
                        <%= link_to "Salir del administrador", signout_path, method: "delete" %>
                    </li>
                    
                    
                    
                     <li><%= link_to "Home", root_path %></li>
                     <li><%= link_to "Informativos", new_home_path %></li>
                     <li><%= link_to "Historia", new_home_path %></li>
                     <li><%= link_to "servicios", new_home_path %></li>
                     <li><%= link_to "Proyectos", new_home_path %></li>
                     <li><%= link_to "Reconocimientos y Matto", new_home_path %></li>
                    <% else %>
                    <li><%= link_to "Sign in", admin_path %></li>

                    
                    <% end %> 
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
 
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  
<%= yield %>



<script type="text/javascript">

    jQuery(window).load(function() {
      // alert(" imagenes esta listas ");
      //  console.log( " eeeeeestaaaalisstaaa las imagenes :)ready!" );
        App.init();
        PortfolioPage.init();
        Index.initParallaxSlider();        
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
<![endif]-->

</body>
</html>
